body {
    background-color: #f7ebad;
}

.bg-body-tertiary {
    background-color: #FFACAC !important;
}

header img {
    width: 100px;
    height: 100px;

}

header img a {
    background-color: #f7ebad;
}