/*MAIN*/
.main {
    background-color: #f7ebad;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    min-height: calc(100vh - 126px - 150px);
}

h1 {
    text-align: center;
    border-style: solid;
    border-width: 4px 2px;
    border-color: #FFACAC;
    border-radius: 5px;
    background-color: rgb(240, 222, 208);
    font-size: x-large;
    text-transform: uppercase;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

main ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.p-ul {
    text-align: center;
    font-weight: bold;
}

.div1 {
    display: flex;
}

.img1 {
    height: 850px;
    width: 50%;
}


.img2 {
    height: 400px;
    width: 90%;
}

